.sidebar {
  padding: 10rem 8rem 0 2rem;
  background-color: #f3f5fa;
  border-style: outset;
  border-width: thin;
  border: 1px, rgb(248, 21, 21);
}
.side-headline {
  display: flex;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
li {
  padding-bottom: 0.5rem;
}
a {
    font-size: larger;
}
a:hover {
  color: #333;
}
